.main {
    width: 120rem;
    margin: 0 auto;
    display: flex;
    margin-bottom: 7rem;
    gap: 2rem;
}

.main__menu {
    width: 40rem;
    display: flex;
    flex-direction: column;
    background-color: var(--laranja-vivo);
    height: 100%;
    padding-bottom: 0.1rem;
}

.main__menu-a {
    font-size: 1.6rem;
    padding: 1rem 0 1rem 2rem;
    color: var(--laranja-vivo);
    background-color: #d9d8d6;
    font-weight: 500;
    transition: all 0.3s;
    border: 2px solid var(--laranja-vivo);
}

.main__menu-a:hover {
    transform: scale(1.05);
}

.main__menu-title {
    color: #fff;
    background-color: var(--laranja-vivo);
    font-size: 1.7rem;
    font-weight: 700;
    padding: 1.rem 1.4rem;
    margin-left: 0;
    border: none;

}

.main__menu-title:hover {
    transform: scale(1.05);
}

.main__conteudo {
    padding: 0 2rem;
    width: 100%;
    line-height: 2.4rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.main__conteudo-topicos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main__conteudo-topicos-no-gap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__conteudo-atividade {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main__conteudo-atividade-titulo {
    font-weight: 600;
    width: 25%;
    display: flex;
    align-items: center;
}
.main__conteudo-atividade-resumo {
    width: 70%;
}

.main__conteudo-title {
    font-size: 3rem;
    color: var(--laranja-vivo);
}

.lista-informacoes {
    list-style: inside;
}

@media screen and (max-width: 1366px) {
    .main {
        width: 100rem;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 35rem;
        flex-wrap: wrap;
    }

    .main__conteudo {
        padding: 0;
    }

    .main__conteudo-title {
        font-size: 3rem;
        line-height: 3.4rem;
        color: var(--laranja-vivo);
    }

    .main__conteudo-atividade {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .main__conteudo-atividade-titulo {
        width: 100%;
    }

    .main__conteudo-atividade-resumo {
        width: 100%;
    }
}
