.article {
    display: flex;
    align-items: center;
    margin: 5rem 15%;
    font-family: "Roboto Mono", monospace;
    gap: 10rem;
    justify-content: center;
}

.article__container {
    display: flex;
    flex-direction: column;
}

.article__titulo {
    font-size: 3.4rem;
    color: var(--verde);
}

.article__paragraph {
    width: 70rem;
    line-height: 2.9rem;
    font-size: 1.6rem;
}

.article__img {
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1366px) {
    .article {
        margin: 5rem 0;
        gap: 10rem;
    }

    .article__paragraph {
        width: 50rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
    }

    .article__img {
        width: 30rem;
        height: 30rem;
    }
}

@media screen and (max-width: 500px) {
    .article {
        margin: 5rem 0;
        gap: 10rem;
    }

    .article__paragraph {
        width: 35rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
        margin: 0 auto;
    }

    .article__img {
        width: 30rem;
        height: 30rem;
    }

    .mobile-hide {
        display: none;
    }
}
