.main__location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;
}

.main__location-header {
    display: flex;
}

.main__location-icon {
    width: 5rem;
    height: 5rem;
}

.main__location-texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
    justify-content: center;
}
