@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --amarelo: #abcc63;
    --azul: #09167d;
    --marrom: #682d0f;
    --laranja: #a13003;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    background-color: var(--marrom);
    color: white;
    line-height: 1.2;
}

nav,
header,
main,
footer {
    flex: 1 1 100vw;
    align-items: center;
    margin: 0 15%;
}

main,
footer {
    margin: 0;
    color: var(--marrom);
    background-color: white;
}

header {
    height: 80vh;
}

nav,
footer {
    display: flex;
}

.background-container {
    position: absolute;
    z-index: -30;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    width: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
    animation: rotateBackground 160s linear infinite;
    transform-origin: center center;
    opacity: 0.3;
}

nav {
    height: 20vh;
    justify-content: end;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

nav a {
    font-size: 100%;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(171, 204, 99, 0.3); /* Cor de fundo com opacidade */
}

.logo {
    display: flex;
}

.logo .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

h1,
h2,
h3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer {
    justify-content: center;
}

.container {
    margin: 0 15%;
}

p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg) scale(1.15);
    }
    to {
        transform: rotate(360deg) scale(1.15);
    }
}

@media (max-width: 1200px) {
    @keyframes rotateBackground {
        from {
            transform: rotate(0deg) scale(1.25);
        }
        to {
            transform: rotate(360deg) scale(1.25);
        }
    }
}

@media (max-width: 992px) {
    @keyframes rotateBackground {
        from {
            transform: rotate(0deg) scale(1.75);
        }
        to {
            transform: rotate(360deg) scale(1.75);
        }
    }
}

@media (max-width: 768px) {
    @keyframes rotateBackground {
        from {
            transform: rotate(0deg) scale(15.15);
        }
        to {
            transform: rotate(360deg) scale(15.15);
        }
    }
}

@media (max-width: 480px) {
    @keyframes rotateBackground {
        from {
            transform: rotate(0deg) scale(1.15);
        }
        to {
            transform: rotate(360deg) scale(1.15);
        }
    }
}

/*diminuir as margens em aplicativos com small widths*/

/*CUIDAR COM TAMANNHO DE 100 VH em small device*/
