.footer {
    display: flex;
    flex-direction: column;
    padding: 7rem 0;
    gap: 19rem;
}

.footer .footer__pessoas {
    display: flex;
    justify-content: center;
    gap: 25rem;
}

.footer .footer__comissao {
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer .footer__comissao h2 {
    font-size: 1.6rem;
}

.footer .footer__comissao span {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
}

.footer .footer__logos {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.footer__logos-logo {
    width: 10rem;
    height: 10rem;
}

@media screen and (max-width: 1366px) {
    .footer {
        padding: 4rem 0;
        gap: 10rem;
    }

    .footer .footer__pessoas {
        gap: 16rem;
    }

    .footer .footer__comissao {
        gap: 1.2rem;
    }

    .footer .footer__comissao h2 {
        font-size: 1.2rem;
    }

    .footer .footer__comissao span {
        font-size: 1rem;
        font-weight: 800;
    }

    .footer__logos-logo {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        margin: 0 4rem;
        gap: 7rem;
        width: 35rem;
    }

    .footer .footer__pessoas {
        gap: 4rem;
        flex-direction: column;
        margin: 0 auto;
    }

    .footer .footer__comissao {
        gap: 1.2rem;
    }

    .footer .footer__comissao h2 {
        font-size: 1.2rem;
    }

    .footer .footer__comissao span {
        font-size: 1rem;
    }

    .footer .footer__logos {
        gap: 2rem;
    }

    .footer__logos-logo {
        width: 6rem;
        height: 6rem;
    }
}
