@import url("../../base/_colors.css");

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.header__convep {
    color: var(--marrom);
    font-weight: 600;
    font-size: 3rem;
}

.header__congresso {
    color: var(--marrom);
    font-weight: 600;
    font-size: 3rem;
}

.header__titulo {
    margin-top: 15vh;
    color: var(--laranja-vivo);
    font-size: 9.3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2rem;
}

.header__subtitulo {
    color: #d9d8d6;
    background-color: var(--azul);
    font-size: 4.5rem;
    font-weight: 600;
    padding: 0.8rem 21.1rem;
    margin-bottom: 15vh;
}

.header__local {
    color: var(--marrom);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.header__data {
    color: var(--azul);
    font-size: 4rem;
    font-weight: 900;
}

@media screen and (max-width: 1366px) {
    .header__convep {
        font-size: 2.3rem;
    }

    .header__congresso {
        font-size: 2.3rem;
    }

    .header__titulo {
        margin-top: 15vh;
        font-size: 7rem;
        margin-bottom: 1rem;
    }

    .header__subtitulo {
        font-size: 3rem;
        padding: 0.4rem 19rem;
        margin-bottom: 15vh;
    }

    .header__local {
        font-size: 2.3rem;
        margin-bottom: 1rem;
    }

    .header__data {
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .header {
        height: 85vh;
    }

    .header__convep {
        font-size: 1.6rem;
    }

    .header__congresso {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .header__titulo {
        margin-top: 20vh;
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }

    .header__subtitulo {
        font-size: 1.6rem;
        padding: 0.6rem 4.3rem;
        margin-bottom: 20vh;
    }

    .header__local {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .header__data {
        font-size: 2.1rem;
    }
}
