.article {
    display: flex;
    align-items: center;
    margin: 5rem 0;
    justify-content: center;
}

.article__container {
    display: flex;
    flex-direction: column;
}

.article__titulo {
    font-size: 3.4rem;
    font-weight: 800;
    color: var(--laranja-vivo);
}

.article__paragraph {
    width: 120rem;
    line-height: 2.9rem;
    font-size: 1.6rem;
    margin-top: 1.4rem;
}

.map {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    width: 120rem;
}

.map__texto {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    display: inline;
    width: 120rem;
    color: rgb(80, 80, 80);
}

.main__programacao {
    display: flex;
    width: 120rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15rem auto 7rem auto;
    row-gap: 4rem;
    font-size: 1.6rem;
}

.main__programacao-resumos {
    width: 55rem;
    display: flex;
    flex-direction: column;
}

.main__programacao-titulo {
    font-size: 2.4rem;
    font-weight: 800;
    color: var(--laranja-vivo);
}

.main__programacao-item {
    line-height: 3.5rem;
    font-size: 1.6rem;
}

.main__programacao-link {
    text-align: center;
    width: 100%;
    text-decoration: underline;
    font-weight: 600;
    color: var(--laranja-vivo);
    font-size: 2rem;
}

@media screen and (max-width: 1366px) {
    .article {
        margin: 5rem 0;
        gap: 5rem;
    }

    .article__titulo {
        width: 90rem;
    }

    .article__paragraph {
        width: 90rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
    }

    .article__img {
        width: 30rem;
        height: 30rem;
    }

    .map {
        margin: 10rem auto;
        width: 90rem;
    }

    .map__texto {
        width: 90rem;
    }

    .map__map {
        width: 50rem;
        height: 45rem;
    }

    .main__programacao {
        width: 90rem;
        margin: 10rem auto 5rem auto;
        row-gap: 3rem;
        font-size: 1.4rem;
    }

    .main__programacao-resumos {
        width: 40rem;
        gap: 1.5rem;
    }

    .main__programacao-item {
        line-height: 3rem;
    }

    .main__programacao-link {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 500px) {
    .article {
        margin: 5rem 0;
        gap: 10rem;
    }

    .article__titulo {
        font-size: 3.4rem;
        width: 35rem;
    }

    .article__paragraph {
        width: 35rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
        margin: 1.2rem auto 0 auto;
    }

    .mobile-hide {
        display: none;
    }

    .map {
        width: 35rem;
        margin: 0 auto;
    }

    .map__texto {
        width: 35rem;
    }

    .map__map {
        width: 35rem;
        height: 20rem;
    }

    .main__programacao {
        width: 35rem;
        margin-top: 6rem;
    }

    .main__programacao-resumos {
        width: 35rem;
    }

    .main__programacao-item {
        line-height: 2.8rem;
    }

    .main__programacao-link {
        font-size: 1.2rem;
    }
}
