.article {
    display: flex;
    align-items: center;
    margin: 5rem 15%;
    font-family: "Roboto Mono", monospace;
    gap: 10rem;
    justify-content: center;
}

.article__container {
    display: flex;
    flex-direction: column;
}

.article__titulo {
    font-size: 3.4rem;
    color: var(--verde);
    margin-bottom: 1rem;
}

.article__paragraph {
    width: 70rem;
    line-height: 2.9rem;
    font-size: 1.6rem;
    text-align: justify;
}

.article__img {
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
}

.map {
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    width: 120rem;
}

.map__texto {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    display: inline;
    width: 120rem;
}

@media screen and (max-width: 1366px) {
    .article {
        margin: 5rem 0;
        gap: 10rem;
    }

    .article__paragraph {
        width: 50rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
    }

    .article__img {
        width: 30rem;
        height: 30rem;
    }

    .map__map {
        width: 500px;
        height: 450px;
    }
}

@media screen and (max-width: 500px) {
    .article {
        margin: 5rem 0;
        gap: 10rem;
    }

    .article__titulo {
        font-size: 3.4rem;
        width: 35rem;
    }

    .article__paragraph {
        width: 35rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
        margin: 0 auto;
    }

    .mobile-hide {
        display: none;
    }

    .map {
        width: 35rem;
        margin: 0 0 0 5rem;
        background-color: blue;
    }

    .map__texto {
        width: 35rem;
    }

    .map__map {
        width: 35rem;
        height: 20rem;
    }
}
