@import url("../../base/_colors.css");

.navigation {
    padding: 1rem 0;
    margin-top: 7rem;
}

.class__ul {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.class__li {
    padding: 1rem;
    display: inline-block;
    position: relative;
}

.class__li:last-child::after {
    display: none;
}

.class__a {
    color: var(--laranja-vivo);
    font-size: 1.6rem;
    font-family: "Roboto Mono", monospace;
    text-decoration: underline;
    font-weight: 600;
}

.navigation-mobile {
    display: none;
}

@media screen and (max-width: 1366px) {
    .navigation {
        margin-top: 5rem;
    }

    .class__a {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 500px) {
    .navigation {
        display: none;
    }

    .navigation-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-mobile__toggle {
        background-image: url("../../../img/icons/open-menu-mobile.svg");
        width: 4rem;
        height: 4rem;
    }

    .navigation-mobile .navigation-mobile__ul {
        display: flex;
        flex-direction: column;
        height: 0;
        width: 200px;
        overflow: hidden;
        transition: height 0.3s ease;
        text-align: center;
    }

    .navigation-mobile .navigation-mobile__li {
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid var(--laranja-vivo);
    }

    .navigation-mobile .navigation-mobile__a {
        color: var(--laranja-vivo);
        font-size: 2rem;
    }
}
