:root {
    --verde: #abcc63;
    --verde-escuro: #6c9a14;
    --azul: #09167d;
    --marrom: #682d0f;
    --marrom-claro: #775545;
    --laranja: #a13003;
    --laranja-claro: #b23110;
    --laranja-vivo: rgb(187, 44, 0);
}
