@import url("../base/_colors.css");

.header {
    width: 120rem;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.header__logo {
    display: flex;
}

.header__logo-img {
    height: 80px;
}

.header__logo-texto {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: var(--laranja-vivo);
    font-size: 1.1rem;
}

.header__logo-texto-slim {
    font-weight: 300;
    font-size: 1.2rem;
}

.navigation {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}

.navigation__a {
    color: var(--laranja-vivo);
    font-size: 1.8rem;
    text-decoration: underline;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

@media screen and (max-width: 1366px) {
    .header {
        width: 100rem;
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
    }

    .navigation {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
}
